name: Build & Deploy Nuxt Docker

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    env:  
    PROJECT_PATH: "${{ secrets.PROJECT_PATH }}"

    steps:
      - name: Pull code from main 
        working-directory: ${{ PROJECT_PATH }}
        run: |
          echo "STAGE=PULL" >> $GITHUB_ENV

          cd gic-student-project-web
          git checkout main
          git pull origin main
      - name: Login Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" \
          | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build image
        run: |
          echo "STAGE=Build" >> $GITHUB_ENV

          cd gic-student-project-web
          docker build -t ${{ secrets.DOCKER_USERNAME }}/gic-student-frontend:latest .
        working-directory: ${{ PROJECT_PATH }}

      - name: Push image
        run: |
          echo "STAGE=Build" >> $GITHUB_ENV

          docker push ${{ secrets.DOCKER_USERNAME }}/gic-student-frontend:latest

      - name: Restart container
        run: |
          echo "STAGE=Deploy" >> $GITHUB_ENV
          docker compose stop frontend
          docker compose up --build -d app
        working-directory: ${{ PROJECT_PATH }}


      - name: Set status
        if: always()
        run: echo "STATUS=${{ job.status }}" >> $GITHUB_ENV

      - name: Notify Telegram
        if: always()
        run: |
          if [ "$STATUS" = "success" ]; then
            ICON="✅"
            TEXT="Stage: $STAGE successful"
          else
            ICON="❌"
            TEXT="Stage: $STAGE failed"
          fi

          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage" \
            -d chat_id="${{ secrets.TELEGRAM_CHAT_ID }}" \
            -d parse_mode=Markdown \
            -d text="$ICON *$TEXT*
            *Repo:* ${{ github.repository }}
            *Branch:* ${{ github.ref_name }}"
